body {
  color: #40514e;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", cursive;
}

p {
  line-height: 2;
}

a {
  color: grey;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6;
}

.top {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle {
  margin: 100px 0;
}

.bottom {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.copywrite {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profilepic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.pro-gif {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.web-img {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.databases-img {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.os-img {
  width: 25%;
  float: right;
  margin-left: px;
}

.tools-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.web-row {
  margin-top: 10%;
}

.os-row {
  margin-top: 10%;
}

.tools-row {
  margin-top: 10%;
  margin-bottom: 10%;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
